openapi: 3.0.0
info:
  title: OutRival Ai Chat Sessions Settings API
  description: OutRival API documentation.
  version: '1.0'
  contact: {}
servers:
- url: https://api.outrival.com
tags:
- name: Settings
paths:
  /rest/v1/settings/secret:
    get:
      operationId: SettingsController_generateWebhookSecret
      parameters: []
      responses:
        '201':
          description: Regenerate webhook secret.
          content:
            application/json:
              schema:
                type: string
      tags:
      - Settings
  /rest/v1/settings:
    get:
      operationId: SettingsController_getSettings
      parameters: []
      responses:
        '201':
          description: Get list of registered webhooks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSettings'
      tags:
      - Settings
    post:
      operationId: SettingsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksServiceConfigCreate'
      responses:
        '201':
          description: Create webhook settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSettings'
        '400':
          description: ''
      tags:
      - Settings
  /rest/v1/settings/{id}:
    patch:
      operationId: SettingsController_update
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksServiceConfigUpdate'
      responses:
        '200':
          description: Update webhook settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSettings'
      tags:
      - Settings
    delete:
      operationId: SettingsController_delete
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete webhook settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSettings'
        '404':
          description: ''
      tags:
      - Settings
components:
  schemas:
    WebhooksServiceConfigUpdate:
      type: object
      properties:
        url:
          type: string
        secret:
          type: string
        name:
          type: string
    WebhooksServiceConfigCreate:
      type: object
      properties:
        url:
          type: string
        secret:
          type: string
        name:
          type: string
      required:
      - url
      - secret
    WebhookSettings:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        name:
          type: string
          nullable: true
        secret:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
      - id
      - url
      - name
      - secret
      - createdAt
      - updatedAt
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
