openapi: 3.2.0
info:
  title: Outrival Organization API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Organization across 2 of this provider''s published API definitions: outrival-v1-openapi-original.json, outrival-v2-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.outrival.com
tags:
- name: Organization
paths:
  /rest/v1/organization:
    get:
      operationId: OrganizationController_getOrganization
      parameters: []
      responses:
        '200':
          description: Get organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDTO'
      tags:
      - Organization
      security:
      - api_key: []
      - bearer: []
      summary: Organization controller get organization
      x-summary-source: derived
    servers:
    - url: https://api.outrival.com
  /rest/v1/organization/token:
    post:
      operationId: OrganizationController_generateOrganizationToken
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateTokenConfig'
      responses:
        '200':
          description: Get auth token for organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTokenDTO'
      tags:
      - Organization
      security:
      - api_key: []
      - bearer: []
      summary: Organization controller generate organization token
      x-summary-source: derived
    servers:
    - url: https://api.outrival.com
components:
  schemas:
    OrganizationTokenDTO:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          format: date-time
          type: string
      required:
      - token
      - expiresAt
    GenerateTokenConfig:
      type: object
      properties:
        userId:
          type: string
        expiresIn:
          type: string
    OrganizationDTO:
      type: object
      properties:
        id:
          type: string
        analyticUrl:
          type: string
      required:
      - id
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
x-refined-from:
- outrival-v1-openapi-original.json
- outrival-v2-openapi-original.json
