openapi: 3.0.0
info:
  title: OutRival Ai Chat Sessions Assistants Sms Configuration API
  description: OutRival API documentation.
  version: '1.0'
  contact: {}
servers:
- url: https://api.outrival.com
tags:
- name: Assistants Sms Configuration
paths:
  /rest/v1/assistants/{assistantId}/sms:
    patch:
      operationId: SmsController_create
      parameters:
      - name: assistantId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsConfigurationUpdateDto'
      responses:
        '200':
          description: Update sms configuration of AI Assistant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsConfiguration'
      tags:
      - Assistants Sms Configuration
      security:
      - api_key: []
      - bearer: []
    get:
      operationId: SmsController_config
      parameters:
      - name: assistantId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Get sms configuration of AI Assistant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsConfiguration'
      tags:
      - Assistants Sms Configuration
      security:
      - api_key: []
      - bearer: []
components:
  schemas:
    SmsConfigurationUpdateDto:
      type: object
      properties:
        initialMessage:
          type: string
        prompt:
          type: string
        resources:
          type: string
        provider:
          $ref: '#/components/schemas/SmsProvider'
        model:
          $ref: '#/components/schemas/SmsModel'
        temperature:
          type: number
        maxTokensOutput:
          type: number
        smsMode:
          type: boolean
        voiceCallMode:
          type: boolean
        keywords:
          type: string
        functions:
          type: array
          items:
            type: object
    SmsModel:
      type: string
      enum:
      - GPT_4_O
      - GPT_3_5_TURBO
      - GPT_4_TURBO
      - GPT_4_O_MINI
      - LLAMA_3_70B
      - LLAMA_3_8B
      - LLAMA_3_1_405B_REASONING
      - MIXTRAL
    SmsProvider:
      type: string
      enum:
      - OPENAI
      - GROQ
    SmsConfiguration:
      type: object
      properties:
        initialMessage:
          type: string
        prompt:
          type: string
        resources:
          type: string
        provider:
          $ref: '#/components/schemas/SmsProvider'
        model:
          $ref: '#/components/schemas/SmsModel'
        temperature:
          type: number
        maxTokensOutput:
          type: number
        smsMode:
          type: boolean
        voiceCallMode:
          type: boolean
        keywords:
          type: string
        isRagEnabled:
          type: boolean
        forceRag:
          type: boolean
        ragTriggerTopics:
          type: string
        preserveRagResult:
          type: boolean
        functions:
          type: array
          items:
            type: object
      required:
      - initialMessage
      - prompt
      - resources
      - provider
      - model
      - temperature
      - maxTokensOutput
      - smsMode
      - voiceCallMode
      - keywords
      - isRagEnabled
      - forceRag
      - ragTriggerTopics
      - preserveRagResult
      - functions
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
