openapi: 3.2.0
info:
  title: Outrival Chat with Ai Assistant API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Chat with Ai Assistant across 2 of this provider''s published API definitions: outrival-v1-openapi-original.json, outrival-v2-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.outrival.com
tags:
- name: Chat with Ai Assistant
paths:
  /rest/v1/ai-chats/messages:
    post:
      operationId: MessagesController_create
      summary: Create new message
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageDto'
      responses:
        '404':
          description: Ai Chat doesn't exist
      tags:
      - Chat with Ai Assistant
      security:
      - api_key: []
      - bearer: []
    servers:
    - url: https://api.outrival.com
  /rest/v2/ai-chats/messages:
    post:
      operationId: MessagesController_create
      summary: Create new message
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageDto_2'
      responses:
        '404':
          description: Ai Chat doesn't exist
      tags:
      - Chat with Ai Assistant
      security:
      - api_key: []
      - bearer: []
    servers:
    - url: https://api.outrival.com
components:
  schemas:
    CreateMessageDto:
      type: object
      properties:
        aiChatId:
          type: string
          description: AI Chat ID
        role:
          $ref: '#/components/schemas/AiChatMessageRole'
        channel:
          $ref: '#/components/schemas/AiChatChannel'
        content:
          type: string
          description: Message content
        metadata:
          type: object
          description: Metadata
      required:
      - aiChatId
      - role
      - channel
      - metadata
    AiChatMessageRole:
      type: string
      description: Role of the sender (user | assistant| system | tool)
      enum:
      - ASSISTANT
      - TOOL
      - USER
      - SYSTEM
    AiChatChannel:
      type: string
      description: Message channel (text | voice | video)
      enum:
      - SMS
      - VOICE
      - TEXT
    CreateMessageDto_2:
      type: object
      properties:
        aiChatId:
          type: string
          description: AI Chat ID
        role:
          $ref: '#/components/schemas/AiChatMessageRole_2'
        channel:
          $ref: '#/components/schemas/AiChatChannel_2'
        content:
          type: string
          description: Message content
      required:
      - aiChatId
      - role
      - channel
    AiChatMessageRole_2:
      type: string
      enum:
      - ASSISTANT
      - TOOL
      - USER
      - SYSTEM
    AiChatChannel_2:
      type: string
      enum:
      - SMS
      - VOICE
      - TEXT
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
x-refined-from:
- outrival-v1-openapi-original.json
- outrival-v2-openapi-original.json
