openapi: 3.2.0
info:
  title: Outrival Organization Keys API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Organization Keys across 2 of this provider''s published API definitions: outrival-v1-openapi-original.json, outrival-v2-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.outrival.com
tags:
- name: Organization Keys
paths:
  /rest/v1/organization/keys:
    get:
      operationId: OrganizationKeysController_getOrganizationKeys
      parameters: []
      responses:
        '200':
          description: Get organization keys.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationKey'
      tags:
      - Organization Keys
      security:
      - api_key: []
      - bearer: []
      summary: Organization keys controller get organization keys
      x-summary-source: derived
    post:
      operationId: OrganizationKeysController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationKeyDTO'
      responses:
        '200':
          description: Create organization key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationKey'
      tags:
      - Organization Keys
      security:
      - api_key: []
      - bearer: []
      summary: Organization keys controller create
      x-summary-source: derived
    servers:
    - url: https://api.outrival.com
  /rest/v1/organization/keys/public:
    get:
      operationId: OrganizationKeysController_getOrganizationPublicKey
      parameters: []
      responses:
        '200':
          description: Get organization active public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationKey'
      tags:
      - Organization Keys
      security:
      - api_key: []
      - bearer: []
      summary: Organization keys controller get organization public key
      x-summary-source: derived
    servers:
    - url: https://api.outrival.com
  /rest/v1/organization/keys/{keyId}:
    get:
      operationId: OrganizationKeysController_getOrganizationKey
      parameters:
      - name: keyId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Get organization key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationKey'
      tags:
      - Organization Keys
      security:
      - api_key: []
      - bearer: []
      summary: Organization keys controller get organization key
      x-summary-source: derived
    patch:
      operationId: OrganizationKeysController_update
      parameters:
      - name: keyId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationKeyDTO'
      responses:
        '200':
          description: Update organization key status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationKey'
      tags:
      - Organization Keys
      security:
      - api_key: []
      - bearer: []
      summary: Organization keys controller update
      x-summary-source: derived
    delete:
      operationId: OrganizationKeysController_remove
      parameters:
      - name: keyId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete specific organization key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrganizationKey'
      tags:
      - Organization Keys
      security:
      - api_key: []
      - bearer: []
      summary: Organization keys controller remove
      x-summary-source: derived
    servers:
    - url: https://api.outrival.com
components:
  schemas:
    OrganizationKey:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
        type:
          type: string
          enum:
          - SECRET
          - PUBLIC
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
      required:
      - id
      - value
      - type
      - status
    UpdateOrganizationKeyDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
      required:
      - status
    CreateOrganizationKeyDTO:
      type: object
      properties:
        type:
          type: string
          enum:
          - SECRET
          - PUBLIC
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
    DeleteOrganizationKey:
      type: object
      properties:
        id:
          type: string
      required:
      - id
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
x-refined-from:
- outrival-v1-openapi-original.json
- outrival-v2-openapi-original.json
